@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';
html,
body {
width: 100%;
height: 100%;
overflow: hidden;
margin: 0;
display: flex;
flex-direction: column;
flex-wrap: wrap;
font-family: 'Open Sans Condensed', sans-serif;
}
div[class*=box] {
height: 33.33%;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.box-3 { background-color: #66A182; }
.btn {
line-height: 50px;
height: 50px;
text-align: center;
width: 250px;
cursor: pointer;
}
.btn-one{
color: #FFF;
transition: all 0.5s;
position: relative;
}
/* important part */
.btn-one::before {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1;
background-color: rgba(255,255,255,0.1);
transition: all 0.3s;
}
.btn-one:hover::before {
opacity: 0 ;
transform: scale(0.5,0.5);
}
.btn-one::after {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1;
opacity: 0;
transition: all 0.3s;
border: 1px solid rgba(255,255,255,0.5);
transform: scale(1.2,1.2);
}
.btn-one:hover::after {
opacity: 1;
transform: scale(1,1);
}
/* // */
/* hover-2 */
/* a tag btn start */
.a-tag-btn{
background-color: #AFFF8C;
height: 20vh;
}
.a-tag-btn ul{
display: flex;
text-decoration: none;
list-style: none;
position: relative;
left: 40%;
top: 25%;
padding: 0;
}
.a-tag-btn ul li{
padding: 0px 25px;
}
.a-tag-btn ul li a{
color: #000;
font-size: 20px;
font-weight: bold;
text-decoration: none;
text-transform: uppercase;
display: block;
}
/* important part */
.nav-link::after{
content: '';
display: block;
width: 0;
height: 1.5px;
background: #000;
transition: width .3s;
}
.nav-link:hover::after {
width: 100%;
transition: width .3s;
}
/* // */
